.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.blue-text {
  color: blue;
}

.three-columns {
  display: flex;
  justify-content: space-between;
  max-width: 1000px;
  margin: 0 auto;
}

.three-columns > div {
  flex: 1;
  padding: 20px;
  border-bottom: 1px solid #007bff; /* Add blue horizontal border at the bottom */
}

 

.two-columns {
  display: grid;
  grid-template-columns: 2fr 4fr;
  
}

.three-columns div,
.two-columns div {
  padding: 10px; 
  text-align: center;
}
.paragraph-container p {
  display: inline;
  margin: 0;
}
.progress-circles-wrapper {
  display: flex;  
  align-items: center;
}
 .bluehr{ 
  background-color: #007bff;
  height: 1.5px;
 }
